#header,
#home,
.section1_bg,
.contact_col,
footer,
.blog_background {
    background-color: #008374;
}

.port {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 9px 15px;
    gap: 15px;
}

.backy {
    background-color: #0b9786;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link1 {
    color: rgba(255, 255, 255, 0.7);
    transition: color 1000ms ease;
}

.link1:hover {
    color: rgba(255, 255, 255, 1);
}

.contact_col2 {
    background-color: #fff;
    padding: 55px 25px;
}

.icone_contact {
    font-size: 2em;

    background-color: rgba(255, 255, 255, 0.3);
}

.contact_col {
    color: #fff;
}

#header {
    position: sticky;
    top: 0;
}

#stick {
    position: sticky;
    top: 0;
}

#navBar {
    position: sticky;
    top: 0;
}

.reseau {
    opacity: 0.7;
}

#collapsingbtn {
    flex-grow: 0;
}

#header p,
#header nav h2,
#header a,
#home h1,
#home div div div p,
#home div div div div #button,
.section1_bg {
    color: #fff;
}

#home div div div p {
    opacity: 0.7;
}

#home {
    height: 87vh;
}

#deep {
    position: relative;
}

#deep:hover~#deep_menu {
    display: block;
}

#deep_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    top: 37px;
    width: 100%;
    right: 175px;
    display: none;
}

#home div div div div #button {
    background-color: #0b9786;
}

.activate {
    color: #008374;
}

.section1_bg:nth-child(1),
.section1_bg:nth-child(3),
.section1_bg:nth-child(4) {
    padding: 17px 75px;
    text-align: center;
    position: relative;
    top: 3px;
}

.section1_bg:nth-child(2) {
    padding: 20px 75px;
    text-align: center;
    position: relative;
    top: 3px;
}

.section1_bg h3 {
    font-size: 1.5em;
    /* width: 200%; */
}

.color_change {
    color: #008374;
}

.hovercard::after {
    content: '';
    background-color: #6c757d;
    height: 3px;
    width: 100%;
    display: block;
    margin-top: 15px;
    transition: background-color 1000ms ease;
}

#service .card {
    cursor: pointer;
}

#service .card:hover .hovercard::after {
    background-color: #008374;
}

.formula {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.taille {
    width: 100%;
}

#about_h1,
#service_h1 {
    background-color: #008374;
    height: 5px;
    width: 25%;
    display: block;
}

#ic {
    background-color: #008374;
    color: white;
}

.ic {
    color: #008374;
}

.ic span,
.sa {
    color: #6c757d;
    opacity: 0.5;
}

#buy_btn {
    transition: all 1000ms ease;
}

#buy_btn:hover,
.but {
    background-color: #008374;
    color: #fff;
}

.but {
    border: none;

}

#service_h1_2 {
    background-color: #008374;
    height: 5px;
    width: 9%;
    display: block;
}

#price_id {
    border: 3px ridge #069e8c;
}

#about {
    margin-top: 125px;
}

.section1_bg {
    transition: background-color 100ms ease-in;
}

.section1_bg:hover {
    background-color: rgba(137, 135, 135, 0.5);
}

#pose {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#pose .card {
    width: 20vw;
}

.social a {
    color: #6c757d;
    border: 1px solid #6c757d;
    transition: all 1000ms ease;
}

.social a:hover {
    color: #008374;
    border-color: #008374;
}

.footer_link {
    color: rgba(255, 255, 255, 0.5);
    transition: color 1000ms ease;
}

.footer_link:hover {
    color: #fff;
}

.social2 a {
    color: #fff;
    border: 1px solid #fff;
    opacity: 0.5;
    transition: opacity 1000ms ease;
}

.social2 a:hover {
    opacity: 0.9;
}

.blog_round {
    width: 19%;
}
.forlist {
    display: flex;
    align-items: center;
    gap: 5px;
}

.spb {
    display: block;
    height: 31px;
    width: 1.3%;
    background-color: #008374;
}

.spb1 {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 1000ms ease;
}

.forlist:hover .spb1 {
    background-color: #008374;
}

@media screen and (max-width: 768px) {
    #deep:hover~#deep_menu {
        display: block;
    }
    
    .spb {
        height: 39px;
        width: 1%;
    }

    .formula {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .formula .taille2,
    .taille3 {
        grid-column: 1 / 3;
    }

    .taille3 {
        width: 215%;
    }

    .formula_img {
        width: 9%;
    }

    .contact_col2 {
        /* background-color: #fff; */
        padding: 19px 25px;
    }

    .accord {
        width: 100%;
    }

    .price {
        width: 100%;
    }

    #about {
        margin-top: 25px;
    }

    .section1_bg h3 {
        font-size: 1.7em;
        width: 100%;
    }

    .contact_input {
        width: 100%;
    }

    #pose {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    #pose .card {
        width: 100%;
    }

    #home {
        height: initial;
    }

    #deep_menu {
        position: initial;
        display: none;
    }

    .section1_bg:nth-child(1),
    .section1_bg:nth-child(3),
    .section1_bg:nth-child(4) {
        padding: 100px 75px;
        text-align: center;
        position: initial;
        width: 90%;
        top: 0;
    }

    .section1_bg:nth-child(2) {
        padding: 83px 75px;
        text-align: center;
        position: initial;
        width: 90%;
        top: 0;
    }
}

@media screen and (max-width: 568px) {
    .formula {
        grid-template-columns: repeat(1, 1fr);
    }

    .taille3 {
        width: initial;
    }

    .formula .taille2,
    .taille3 {
        grid-column: 1;
    }

    .formula_img {
        width: 19%;
    }
}